<!DOCTYPE html>


<html layout:decorate="layouts/defaultLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<body>


<div class="container my-5" layout:fragment="content">
    <body>
    <h1>Upload Photo</h1>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>
    </body>
</div>



</body>
</html>
